.preloader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageNumber{
    border: black solid 1px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.currentPage{
    font-weight: bold;
}


.componentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;

}

.repoContainer{
    /*padding: 20px;*/
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;


}
.repo{
    border: black solid 1px;
    padding: 10px;
    margin: 15px 5px;
}
.repo > * {
    margin-left: 10px;
}
.repo:hover{
    background-color: lightslategrey;
    color: white;
    cursor: pointer;
}

.searchContainer{
    background-color: lightslategrey;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.searchContainer input{
    margin-right: 10px;
    width: 50%
}

.pagesContainer{
    margin-top: 5px;
}

.navlink{
    color: black;
    text-decoration: none;
}
.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}
.pagination > .active > a{
    background-color: black ;
    border-color: black ;
    color: #fff;
}
.pagination > li > a{
    border: 1px solid black ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: lightslategrey ;
    border-color: black;
    outline: none ;
}
.pagination > li > a, .pagination > li > span{
    color: black
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
}

a{
    text-decoration: none;
}